.wall-entry {
	margin-top: 20px;
	clear: both;
}

.post-thumb {
	vertical-align: middle;
	width: 90px;
	margin-right: 10px;
	float: left;
}

.feed-thumb {
	vertical-align: middle;
	width: 120px;
}

.feed-thumb-float {
	float: left;
	margin-right: 10px;

}

.connecting-word {
	float: left;
	font-size: 30px;
	line-height: 36px;
}

.header {
	height: 100px;
}

.clear {
	clear: both;
}

.movie-previewer {
	margin-top: 30px;
}

.movie-previewer .item {
	padding-left: 120px;

}

.movie-preview-heading {
	text-align: center;
	margin-top: 40px;
}

.movie-poster {
	pointer: hand;
}

.navbar-inner {
	overflow: hidden;
	height: 40px;
}

.sidebar {
	background-color: whiteSmoke;
	border: 1px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px;
}

.movie-sidebar, .hidden {
	display: none;
}

body {
  background-color: #f0f0f0;
}

ul#posters {
	margin-left: 0px;
}

ul#posters, ul#posters > li {
  padding: 0;
}

#posters li.poster {
  float: left;
  width: 190px;
  margin-bottom: 6px;
  padding: 10px;
  list-style: none;
  background-color: #fff;
}

#posters.no-js li.poster {
	margin-right: 9px;
}

#posters li.poster a img {
  width: 180px;
  display: block;
  margin: 5px auto;
}

#posters p.faces {
  margin: 0 auto;
  width: 160px;
}
#posters p.faces img {
  width: 28px;
  height: auto;
}
#posters h3.faces-heading {
  margin: 0;
  padding: 0;
  font-size: 80%;
}

.trailer-preview {
	vertical-align: middle;
	width: 200px;
}
a.movie-poster {
	position: relative;
	display: block;
}
a.movie-poster span {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-weight: bold;
	z-index: 101;
	margin: 0 5px;
}
a.movie-poster:hover span {
	display: block;
	text-align: center;
	visibility: visible;
}
#infscr-loading {
	text-align: center;
	z-index: 100;
	position: fixed;
	left: 350px;
	bottom: 40px;
	width: 50px;
	padding: 10px;
	background: 
	black;
	opacity: 0.8;
	color: 
	white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#infscr-loading img{
	width: 100%;
}

.ui-widget-overlay {
	background: #fff;
	opacity: 0.95;
}

.ui-widget-content,
.ui-dialog .ui-dialog-titlebar {
	border: none;
	background: transparent;
}

.navbar .btn, .navbar .btn-group {
	margin-top: 3px;
	margin-right: -4px;
}

.button-form button.active {
	background-image: url(../img/images.jpg);
	background-position: 10px center;
	background-repeat: no-repeat;

}
